---
import Layout from '@/layouts/Layout.astro'
import PageHeader from '@/components/PageHeader.astro'
import list from '@/content/projects'
---

<Layout title="Posts">
  <PageHeader title="Projects" />
  <div class="mt-4 -mx-1 grid gap-x-4 gap-y-6 grid-cols-2 md:grid-cols-3">
    {list.map((project, index) => (
      <div class="flex flex-col gap-2">
        <a
          class:list={[
            'relative aspect-5/3 rounded-md overflow-hidden',
            'border border-base hover:border-emphasis',
            'bg-light-300 hover:bg-light-500 dark:bg-dark dark:hover:bg-dark-200',
            'grayscale hover:filter-none',
            'transition-property-[filter,border-color] duration-300 animate-enter',
          ]}
          href={project.link}
          target="_blank"
          style={{
            animationDelay: `${index * 0.2}s`,
          }}
        >
          <img src={project.image}>
        </a> 
        <div class="p-1">
          <h3 class="text-sm font-serif">{project.name}</h3>
          <p class="text-xs op-30">{project.desc}</p>
        </div>
      </div>
    ))}
  </div>
</Layout>

<style>
  .animate-enter {
    animation: animate-enter 0.5s ease-out;
  }

  @keyframes animate-enter {
    0% {
      opacity: 0;
      transform: translateY(10px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
</style>