---
import type { BiliResponse } from '@/pages/api/bilibili'

const biliResponse = await fetch('http://localhost:3000/api/bilibili').then(response => 
  response.json()
) as BiliResponse

const biliData = biliResponse.code === 0 ? biliResponse.data : null
---

<>
  {biliData && biliData.live_status === 1 && (
    <div class="text-xs op-40 uppercase">Streaming</div>
  )}
</>
