<header class="mt-12 md:mt-18">
  <h1 class="text-3xl font-serif fg-emphasis">
    <div>Hello,</div>
    <div>I'm Diu.</div>
  </h1>
  <div class="mt-6 text-sm leading-loose">
    <div>
      <span>Front-end</span>
      <span class="text-emphasis">developer & Amateur designer</span>
      <span>.</span>
    </div>
    <div>
      <span>Currently working at DiDi.</span>
    </div>
    <div>
      <span>I like making interesting projects.</span>
    </div>
  </div>
</header>

