<header class="mb-6">
  <h1 class="mb-6 text-4xl font-serif fg-emphasis">
    <div>Hello,</div>
    <div>I'm Diu.</div>
  </h1>
  <div class="leading-loose">
    <div>
      <span>Front-end</span>
      <span class="text-emphasis">developer & Amateur designer</span>
      <span>.</span>
    </div>
    <div>
      <span>Currently working at DiDi.</span>
    </div>
    <div>
      <span>I like making interesting projects.</span>
    </div>
  </div>
</header>

