<div class="my-8">
  <div class="flex gap-4 border-b border-base">
    <div class="my-2">Projects</div>
    <a href="/posts" class="my-2">Posts</a>
  </div>
  <div class="mt-4 grid gap-4 grid-cols-1 sm:grid-cols-2">
    <div class="bg-light-300 dark:bg-dark-600 h-36" />
    <div class="bg-light-300 dark:bg-dark-600 h-36" />
    <div class="bg-light-300 dark:bg-dark-600 h-36" />
    <div class="bg-light-300 dark:bg-dark-600 h-36" />
    <div class="bg-light-300 dark:bg-dark-600 h-36" />
    <div class="bg-light-300 dark:bg-dark-600 h-36" />
  </div>
</div>

