/* sora-regular - latin */
@font-face {
  font-family: 'Sora';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('./sora-regular.woff2') format('woff2'),
       url('./sora-regular.woff') format('woff');
}
/* sora-600 - latin */
@font-face {
  font-family: 'Sora';
  font-style: normal;
  font-weight: 600;
  src: local(''),
       url('./sora-600.woff2') format('woff2'),
       url('./sora-600.woff') format('woff');
}