:root {
  --c-bg: #ffffff;
  --c-scroll: #d9d9d9;
  --c-scroll-hover: #bbbbbb;
  scrollbar-color: var(--c-scrollbar) var(--c-bg);
}

html {
  background-color: var(--c-bg);
  font-family: 'IBM Plex Sans', sans-serif;
}

html.dark {
  --c-bg: #212121;
  --c-scroll: #333333;
  --c-scroll-hover: #555555;
}

.outfit {
  font-family: 'Outfit', sans-serif;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-thumb {
  background-color: var(--c-scroll);
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: var(--c-scroll-hover);
}
::-webkit-scrollbar-track {
  background-color: var(--c-bg);
}